<h1 align="center"><%= @category.name %></h1>

<ul class="flex-container">
	<% @listings.each do |listing|%>
	  <li class="flex-item"><a href="<%="/categories/#{@category.id}/listings/#{listing.id}"%>"><%= listing.title %></a>

	<% end %>
</ul>

<p class="add-listing" align="center"><a href="<%= "/categories/#{@category.id}/listings/new" %>">Add a new listing</a></p>