    <div align="center"><%= @errors %></div>
    <p>
      <form align="center" action="/sessions" method="post">
            <label>Email:</label><input type="email" name="email">
            <label>Password:</label><input type="password" name="password">
            <input type="submit" value="Login">
        </form>
      </p>